@page "/academic-record"
@inject NavigationManager Navigation
@inject IListStudents listStudents
@inject IListTeachers listTeachers
@using MudBlazor;
@using lms.Domain
@using lms.UseCases.Manager.AcademicRecord

<PageTitle>Registro Acadêmico</PageTitle>

<MudPaper Elevation="1" Class="title-container">
    <MudText Typo="Typo.h5" Align="Align.Center" Class="title">
        Registro Acadêmico
    </MudText>
</MudPaper>

<MudTabs @bind-ActivePanelIndex="activeTab"
         Centered="true"
         ScrollButtons="ScrollButtons.Auto"
         Class="tabs-container">

    <MudTabPanel Text="Alunos">

        <div class="d-flex justify-content-center justify-content-md-start btn">
            <MudButton Class="edit-btn"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.AddCircle"
                       Href="/academic-record/new"
                       FullWidth="true">
                Novo Aluno
            </MudButton>
        </div>
        <MudTable Items="students" Hover="true" Bordered="true" Striped="true" Dense="true" Class="academic-record-container">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Registros Acadêmicos</MudText>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>Nome</MudTh>
                <MudTh>RM</MudTh>
                <MudTh>Ano de Ingresso</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>Turma</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd>@context.User.FullName</MudTd>
                <MudTd>@context.EnrollmentNumber</MudTd>
                <MudTd>@context.EnrollmentDate</MudTd>
                <MudTd>Matriculado</MudTd>
                <MudTd>ClassName</MudTd>
                <MudTd>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" @onclick="() => EditRecord(context.Id)">
                        Editar
                    </MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>

    </MudTabPanel>
    <MudTabPanel Text="Professores">
        <div class="d-flex justify-content-center justify-content-md-start btn">
            <MudButton Class="edit-btn"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.AddCircle"
                       Href="/academic-record/new-teacher"
                       FullWidth="true">
                Novo Professor
            </MudButton>
        </div>

       <MudTable Items="teachers" Hover="true" Bordered="true" Striped="true" Dense="true" Class="academic-record-container">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Registros de Professores</MudText>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>Nome</MudTh>
                <MudTh>E-mail</MudTh>
                <MudTh>Ações</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd>@context.User.FullName</MudTd>
                <MudTd>@context.User.Email</MudTd>
                <MudTd>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" @onclick="() => EditTeacher(context.Id)">
                        Editar
                    </MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>

    </MudTabPanel>

</MudTabs>

@code {
    private IEnumerable<StudentModel> students = [];
    private IEnumerable<TeacherModel> teachers = [];

    private int activeTab = 0;

    protected override async Task OnInitializedAsync()
    {
        students = await listStudents.Execute();
        teachers = await listTeachers.Execute();
    }

    private void EditRecord(Guid id)
    {
        var recordToEdit = students.FirstOrDefault(r => r.Id == id);
        if (recordToEdit != null)
        {
            Navigation.NavigateTo($"/academic-record/{id}/edit");
        }
    }

    private void EditTeacher(Guid id)
    {
        var teacherToEdit = teachers.FirstOrDefault(t => t.Id == id);
        if (teacherToEdit != null)
        {
            Navigation.NavigateTo($"/academic-record/teacher/{id}/edit");
        }
    }
}
